In [1]:
# import dependencies
import pandas as pd
import matplotlib as plt
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings('ignore')
# SQL Alchemy
from sqlalchemy import create_engine

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
Communicable_Disease_10 = pd.read_csv("Resources/Communicable_Disease_10_Year_File.csv")

In [ ]:
# Create Engine for census data
 Communicable_Disease_10= "../Resources/Communicable_Disease_10.sqlite"
engine = create_engine(f"sqlite:///{census_database_path}")
conn = engine.connect()

In [3]:
Communicable_Disease_10.head()

,Year,State,Region,District,County,Condition,Population,Cases,"Rate per 100,000"
0,2009,Virginia,Central,Chesterfield,Chesterfield,Anaplasma/Ehrlichiosis,306670,10,3.3
1,2009,Virginia,Central,Chesterfield,Chesterfield,Campylobacteriosis,306670,20,6.5
2,2009,Virginia,Central,Chesterfield,Chesterfield,Cryptosporidiosis,306670,1,0.3
3,2009,Virginia,Central,Chesterfield,Chesterfield,"Escherichia coli infection, Shiga Toxin-Producing",306670,5,1.6
4,2009,Virginia,Central,Chesterfield,Chesterfield,Giardiasis,306670,10,3.3

In [4]:
#Keep selected columns
Communicable_Disease = Communicable_Disease_10[['Year','County','Condition','Rate per 100,000']]

In [5]:
Communicable_Disease.head()

,Year,County,Condition,"Rate per 100,000"
0,2009,Chesterfield,Anaplasma/Ehrlichiosis,3.3
1,2009,Chesterfield,Campylobacteriosis,6.5
2,2009,Chesterfield,Cryptosporidiosis,0.3
3,2009,Chesterfield,"Escherichia coli infection, Shiga Toxin-Producing",1.6
4,2009,Chesterfield,Giardiasis,3.3

In [6]:
len(Communicable_Disease['Condition'].unique())

42

In [7]:
len(Communicable_Disease['County'].unique())

133

In [8]:
check = Communicable_Disease[(Communicable_Disease['Condition']=='Escherichia coli infection, Shiga Toxin-Producing')].reset_index(drop=True)
len(check['County'].unique())

115

In [9]:
check_Chesterfield= check[(Communicable_Disease['County']=="Chesterfield")].reset_index(drop=True)
len(check_Chesterfield['Condition'].unique())

1

In [10]:
check_Arlington = check[(Communicable_Disease['County']=="Arlington")].reset_index(drop=True)
len(check_Arlington['Condition'].unique())

0

In [11]:
Communicable_Disease.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16148 entries, 0 to 16147
Data columns (total 4 columns):
Year                16148 non-null int64
County              16148 non-null object
Condition           16148 non-null object
Rate per 100,000    16148 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 504.7+ KB

In [12]:
Communicable_Disease.describe()

               Year  Rate per 100,000
count  16148.000000      16148.000000
mean    2013.702006         19.661320
std        2.883657         48.273256
min     2009.000000          0.100000
25%     2011.000000          2.600000
50%     2014.000000          6.200000
75%     2016.000000         15.200000
max     2018.000000        912.900000

In [13]:
# Save to CSV
Communicable_Disease.to_csv("Clean_Data.csv", index = False)